body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  border: 1px solid black; margin-top: 100px;
}

.titulo {
  font-size: 60px;
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
}

.bar:hover{
  fill: black;
}
.bar{
  z-index: 9999;
}


